<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admixture Analysis</title>
</head>
<body>
    <h1>Admixture Analysis</h1>
    <form method="post" action="{{ url_for('blueprint.admixture_analysis') }}">
        <label for="selected_populations">Select groups for admixture analysis:</label><br>
        <input type="radio" id="populations" name="group_type" value="populations" checked>
        <label for="populations">Populations</label>
        <input type="radio" id="superpopulations" name="group_type" value="superpopulations">
        <label for="superpopulations">Superpopulations</label><br><br>
        <select id="selected_populations" name="selected_populations" multiple>
            <!-- Options will be dynamically populated based on the button selected -->
        </select><br><br>
        <button type="submit">Perform Admixture Analysis</button>
    </form>

    <script>
        const populations = {
            'SIB': 'Siberian Ancestry',
            'EUR': 'European Ancestry',
            'EAS': 'East Asian Ancestry',
            'AMR': 'American Ancestry',
            'SAS': 'South Asian Ancestry',
            'AFR': 'African Ancestry',
            'ACB': 'African Caribbean in Barbados',
            'ASW': 'Americans of African Ancestry in SW USA',
            'BEB': 'Bengali in Bangladesh',
            'CDX': 'Chinese Dai in Xishuangbanna, China',
            'CHB': 'Han Chinese in Bejing, China',
            'CHS': 'Southern Han Chinese',
            'CLM': 'Colombians from Medellin, Colombia',
            'ESN': 'Esan in Nigeria',
            'FIN': 'Finnish in Finland',
            'GBR': 'British in England and Scotland',
            'GIH': 'Gujarati Indian in Houston, TX',
            'GWD': 'Gambian in Western Division',
            'IBS': 'Iberian Population in Spain',
            'ITU': 'Indian Telugu in the UK',
            'JPT': 'Japanese in Tokyo, Japan',
            'KHV': 'Kinh in Ho Chi Minh City, Vietnam',
            'LWK': 'Luhya in Webuye, Kenya',
            'MSL': 'Mende in Sierra Leone',
            'MXL': 'Mexican Ancestry in Los Angeles, CA',
            'PEL': 'Peruvian in Lima, Peru',
            'PJL': 'Punjabi in Lahore, Pakistan',
            'PUR': 'Puerto Rican in Puerto Rico',
            'STU': 'Sri Lankan Tamil in the UK',
            'TSI': 'Toscani in Italia',
            'YRI': 'Yoruba in Ibadan, Nigeria'
        };
        const superpopulations = {
            'EUR': 'European',
            'EAS': 'East Asian',
            'AMR': 'American',
            'SAS': 'South Asian',
            'AFR': 'African'
        };


        function populateDropdown(selectedValue) {
            const selectElement = document.getElementById('selected_populations');
            selectElement.innerHTML = '';
            const groups = selectedValue === 'populations' ? populations : superpopulations;
            for (const code in groups) {
                const option = document.createElement('option');
                option.value = code;
                option.textContent = groups[code];
                selectElement.appendChild(option);
            }
        }

        document.getElementById('populations').addEventListener('change', function() {
            populateDropdown(this.value);
        });

        document.getElementById('superpopulations').addEventListener('change', function() {
            populateDropdown(this.value);
        });

        populateDropdown('populations');
    </script>
</body>
</html>