<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admixture Analysis</title>
</head>
<body>
    <h1>Admixture Analysis</h1>
    <form method="post" action="{{ url_for('blueprint.admixture_analysis') }}">
        <label for="ad_selected_populations">Select groups for admixture analysis:</label><br>
        <input type="radio" id="populations" name="group_type" value="populations" checked>
        <label for="populations">Populations</label>
        <input type="radio" id="superpopulations" name="group_type" value="superpopulations">
        <label for="superpopulations">Superpopulations</label><br><br>
        <select id="ad_selected_populations" name="ad_selected_populations" multiple>
            <!-- Options will be dynamically populated based on the button selected -->
        </select><br><br>
        <button type="submit">Perform Admixture Analysis</button>
    </form>

    <script>
        const populations = {
            'SIB': 'Siberia',
            'PJL': 'Punjabi',
            'BEB': 'Bengali',
            'STU': 'Tamil',
            'ITU': 'Telugu',
            'GIH': 'Gujarati',
            'GBR': 'British',
            'FIN': 'Finland',
            'IBS': 'Iberian',
            'TSI': 'Toscani',
            'CHS': 'Southern Han Chinese',
            'CDX': 'Dai Chinese',
            'KHV': 'Kinh Vietnamese',
            'CHB': 'Han Chinese',
            'JPT': 'Japanese',
            'PUR': 'Puerto Rican',
            'CLM': 'Colombian',
            'PEL': 'Peruvian',
            'MXL': 'Mexican Ancestry',
            'ACB': 'African Caribbean',
            'GWD': 'Gambian Mandinka',
            'ESN': 'Esan',
            'MSL': 'Mende',
            'YRI': 'Yoruba',
            'LWK': 'Luhya',
            'ASW': 'African Ancestry SW'
        };
        const superpopulations = {
            'SIB': 'Siberian',
            'EUR': 'European',
            'EAS': 'East Asian',
            'AMR': 'American',
            'SAS': 'South Asian',
            'AFR': 'African'
        };


        function populateDropdown(selectedValue) {
            const selectElement = document.getElementById('ad_selected_populations');
            selectElement.innerHTML = '';
            const groups = selectedValue === 'populations' ? populations : superpopulations;
            for (const code in groups) {
                const option = document.createElement('option');
                option.value = code;
                option.textContent = groups[code];
                selectElement.appendChild(option);
            }
        }

        document.getElementById('populations').addEventListener('change', function() {
            populateDropdown(this.value);
        });

        document.getElementById('superpopulations').addEventListener('change', function() {
            populateDropdown(this.value);
        });

        populateDropdown('populations');
    </script>
</body>
</html>